<header class="site-header">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <div class="header-top-area">
      <div class="wrapper-title">
        <a class="site-title" href="/">{{ site.title | escape }}</a>
        <p class='sub-title'>{{ site.sub-title | escape }}</p>
      </div>
      <div class="wrapper-profile">
        <div class="profile-image"></div>
        <p class='profile-name'>{{ site.profile-name | escape }}</p>
        <p class='profile-comment'>{{ site.profile-comment | escape }}</p>
      </div>
    </div>

    <div class="header-bottom-area">
    {%- if page_paths -%}
      <nav class="site-nav">
        <div class="header-page-list">
          {%- for menu in site.data.menu.menus -%}
            {%- if menu.title -%}
            <div class="header-page-link">
              <a class="page-link" href="{{ menu.url }}">{{ menu.title | escape }}</a>
            </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}
    </div>
  </div>
</header>
