/*
 * file: _organization.scss
 */

$header-width: 25vw;
$content-width: 75vw;
$header-width-min: 215px;
$content-width-min: 690px;

$header-height-top-area: 320px;
$header-padding-title-area: 50px;

$post-padding-left: 50px;
