/*
 * file: _organization.scss
 */

$header-width: 25vw;
$content-width: 75vw;
$header-width-min: 215px;
$content-width-min: 690px;

$header-height-top-area: 320px;
$header-padding-title-area: 50px;

$post-padding-left: 50px;

/*
 * Mobile
 */

$header-height-mobile: 25vw;

$header-height-top-area-mobile: 18vw;
$header-padding-title-area-mobile: 7vw;
$header-height-bottom-area-mobile: 7vw;

$post-padding-left-mobile: 25px;
$post-header-title-padding-top-mobile: 25px;
