---
layout: default
---

<div class="home">

  {%- if site.posts.size > 0 -%}

    <div class="wrapper-post-list">

      {%- for post in site.posts -%}

      {%- assign date_format = "%b %-d, %Y" -%}

      <article class="box-item-post">
        <span class="box-item-ribbon">
          <span style="background-color:{{ post.color }}">
            {{ post.keyword }} 
          </span>
        </span>
        <div class="box-item-body">
          <div class="post-date">{{ post.date | date: date_format }} </div>
          <a class="post-title" href="{{ post.url | relative_url }}" style="color:{{ post.color }}">
            <h2>{{ post.title | escape }}</h2>
          </a>

          {% if post.description %}

          <p class="description">{{ post.description }}</p>

          {% endif %}

        </div>
      </article>

      {%- endfor -%}

  {%- endif -%}

</div>
